@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ccc;
  font-family: 'Acme', sans-serif;
}

canvas {
  border: 1px solid #ccc;
}


#stats {
  color: black;
  font-size: 15px;
  line-height: 20px;
}
#stats .left {
  float: left;
  display: inline-block;
}
#stats .right {
  float: right;
  display: inline-block;
  font-size: 30px;
}
#stats div div{
  display: inline-block;
  margin-right: 25px;
}

#startScreen {
}

#gameOverScreen {
  /* background: url(images/bg.jpg); */
}


button {
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  padding: 10px;
  border-radius: 7px;
}

#toolbar button {
  height: 120px;
  width: 120px;
  font-size: 16px;
}
#toolbar button img {
  height: 60px;
}

#towerMenu, #farmMenu, #toolMenu {
  float: left;
  margin-right: 15px;
  vertical-align: top;
}