body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ccc;


}

canvas {
  border: 1px solid #ccc;
}


#stats {
  color: black;
  font-size: 25px;
  margin-left: 25px;
}

#startScreen {
}

#gameOverScreen {
  /* background: url(images/bg.jpg); */
}



#toolbar button {
  height: 110px;
  width: 110px;
}
#toolbar button img {
  height: 60px;
}

#towerMenu, #farmMenu, #toolMenu {
  float: left;
  margin-right: 15px;
}